<!doctype html>
<html>
    <head>
        <title>Galaxy API</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="css/landing.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    </head>
    <body>
        
        <!-- Header -->
            <header id="header">
                <h1><a href="">Galaxy API</a></h1>
                <!-- <a href="#nav">Menu</a> -->
            </header>

        <!-- Nav -->
            <nav id="nav"></nav>

        <!-- Main -->
            <section id="main" class="wrapper">
                <div class="container">
                    <header class="major special">
                        <br>
                        <br>

                        <h2>The Hitchhiker's Guide to the Galaxy of APIs</h2>    
                        <h3><h3>
                        <h3>Create and develop your project with the best APIs around. All APIs are rated on ease of use.
                            Welcome to your simpliest choice all day.</h3>
                    </header>
                    <a href="#" class="image fit"><img src="images/pic11.jpg" alt="" />
                        <div class="account">Login or Create a New Account</div>                        
                        <a href="/login" class="buttonL"><span>Login</span></a>
                        <a href="/signup" class="buttonS"><span>Signup</span></a>
                        
                </div>
            </section>

    </body>
</html>